table {
    height: 50%;
    width: 50%;
    border-collapse: collapse; 
    margin: 0 auto; 
}

th, td {
    border: 1px solid black; 
    padding: 10px; 
    text-align: center; 
}

th {
    background-color: yellow;
    font-weight: bold; 
}

td.HOME {
    background-color: pink; 
}
td:nth-child(1) {
    background-color:lavender; 
    font-weight: bold;
}
thead .header {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 15px;
}

